*{
	font-family: tahoma;
	box-sizing: border-box;
}

h2 {
	background-color: coral;
	padding:5px;
	height:40px;
}

.judul-1{
	position:sticky;
	top:0px;
}

.judul-2{
	position:sticky;
	top:45px;
}

.judul-3{
	position:sticky;
	bottom:0px;
}